#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 0;
}

#dishes_burguer, #dishes_combos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.dish_heart {
    position: absolute;
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #ffff;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish_description {
    color: #434343;
    text-align: center;
}

.dish_rate {
    color: #e9a209;
}

.dish_price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dish img {
    height: 180px;
    width: fit-content;
    border-radius: 10px;
    transition: .2s ease;
}

#menu_pedido {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
   margin-top: 10px;
   position: sticky;
}

#submenu {
    display: flex;
    list-style: none;
    gap: 30px;
}

#submenu a {
    text-decoration: none;
    color: #434343;
}


@media screen and (max-width: 1400px) {
    .dish img{
        height: 100px;
        transition: .2s ease;
    }
}

@media screen and (max-width: 1000px) {
    #dishes_burguer, #dishes_combos{
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish{
        width: calc(50% - 12px);
    }

    .dish img{
        height: 80px;
    }

}


@media screen and (max-width: 600px) {

    .dish{
        width: 100%;
    }

    .dish img{
        height: 80px;
    }

    #menu .section_subtitle{
        text-align: center;
    }
    #submenu{
        gap: 15px;
    }
}
